# 三方组件目录
downloads
glib
gtk4android
libffi
libjpeg
openssl
pixman
qemu
SDL2
slirp
spice
spice-protocol
virglrenderer

# 临时构建物
build_arm64-v8a
qemu_gtk4_rollback.patch

# 自生成配置
android-config/meson-android-arm64-v8a.ini
android-config/meson-android-armeabi-v7a.ini
android-config/meson-android-x86.ini
android-config/meson-android-x86_64.ini
android-config/meson-gtk4-android-cross.ini
android-config/meson-pixman-android-cross.ini
android-config/meson-slirp-android-cross.ini
android-config/meson-spice-android-cross.ini
android-config/meson-spice-protocol-android-cross.ini
android-config/meson-virgl-android-cross.ini