/spice/
/spice-protocol/
/openssl/
/libjpeg/
/jpeg/
/png/
/sdl_latest/
/android-spice-config.mak
# downloaded source archives for the spice stack
/downloads/

#patches
/qemu-patches/qemu-2.3.0.patch
/qemu-patches/qemu-2.7.0.patch
/qemu-patches/qemu-2.9.0-rc0.patch
#/qemu-patches/qemu-2.9.0.patch
#/qemu-patches/qemu-2.10.0.patch
/patches/qemu-3.1.0.patch

/buildlog.txt
/buildlogerr.txt

#Don't check in just provide patches
qemu-orig
# vendor sources fetched by `make fetch` (no longer git submodules)
/qemu
/gtk4android
/glib
/libffi
/pixman
/slirp
/SDL2

build_arm32
build_arm64
build_x86
build_x86_64
build_x86_iter.sh
run_iter.sh
sochk.sh
sochk2.sh
